# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

__pycache__

# dependencies
fastapireact/node_modules
fastapireact/.pnp
fastapireact/.pnp.js

# testing
fastapireact/coverage

# production
fastapireact/build

# misc
fastapireact/.DS_Store
fastapireact/.env.local
fastapireact/.env.development.local
fastapireact/.env.test.local
fastapireact/.env.production.local

fastapireact/npm-debug.log*
fastapireact/yarn-debug.log*
fastapireact/yarn-error.log*
